<div class="container">
  <h2 class="text-center">Dashboard Administrativo</h2>
  <!--Container das informações-->
   <div class="row">
    <div class="col-lg-4 col-xs-6">
      <div class="small-box bg-aqua">
      <div class="inner text-center">
      <h3>
      150
      </h3>
      <p>
      Total de salas cadastradas
      </p>
      </div>
      <div class="icon">
      <i class="ion ion-bag"></i>
      </div>
      <a href="#" class="small-box-footer">
        Mais detalhes <i class="fa fa-arrow-circle-right"></i>
      </a>
      </div>
      </div>

      <div class="col-lg-4 col-xs-6">
        <div class="small-box bg-aqua">
        <div class="inner text-center">
        <h3>
        150
        </h3>
        <p>
        Total de reservas efetuadas
        </p>
        </div>
        <div class="icon">
        <i class="ion ion-bag"></i>
        </div>
        <a href="#" class="small-box-footer">
          Mais detalhes <i class="fa fa-arrow-circle-right"></i>
        </a>
        </div>
        </div>

        <div class="col-lg-4 col-xs-6">
          <div class="small-box bg-aqua">
          <div class="inner text-center">
          <h1>
            <button class="btn-add" (click)="open(content)">+</button>
          </h1>
          <p>
          Adicionar uma sala
          </p>
          </div>
          <div class="icon">
          <i class="ion ion-bag"></i>
          </div>
          <a href="#" class="small-box-footer">
          Mais detalhes <i class="fa fa-arrow-circle-right"></i>
          </a>
          </div>
          </div>
   </div>
   <!-- Inicio Modal Salas-->
  <div class="row">
   <section class="col-lg-12 connectedSortable">
    <div class="box box-primary">
    <div class="box-header">
    
    <div class="pull-right box-tools">
    <button class="btn btn-primary btn-sm daterange pull-right" data-toggle="tooltip" title="Date range"><i class="fa fa-calendar"></i></button>
    <button class="btn btn-primary btn-sm pull-right" data-widget='collapse' data-toggle="tooltip" title="Collapse" style="margin-right: 5px;"><i class="fa fa-minus"></i></button>
    </div>
    <h3 class="box-title">
    
    </h3>
    </div>
    <div class="box-body no-padding">
    <div class="table-responsive">
    
    <table class="table table-striped">
    <tr>
    <th>Sala</th>
    <th>Filial</th>
    <th>Capacidade</th>
    <th>Editar</th>
    </tr>
    <tr>
    <td><a href="#">Terreo 1</a></td>
    <td><div id="sparkline-1">Company 1</div></td>
    <td>30</td>
    <td>Mais detalhes</td>
    </tr>
    <tr>
        <td><a href="#">Terreo 1</a></td>
        <td><div id="sparkline-1">Company 1</div></td>
        <td>30</td>
        <td>Mais detalhes</td>
    </tr>
    <tr>
        <td><a href="#">Terreo 1</a></td>
        <td><div id="sparkline-1">Company 1</div></td>
        <td>30</td>
        <td>Mais detalhes</td>
    </tr>
    <tr>
        <td><a href="#">Terreo 1</a></td>
        <td><div id="sparkline-1">Company 1</div></td>
        <td>30</td>
        <td>Mais detalhes</td>
    </tr>
    <tr>
        <td><a href="#">Terreo 1</a></td>
        <td><div id="sparkline-1">Company 1</div></td>
        <td>30</td>
        <td>Mais detalhes</td>
    </tr>
    <tr>
        <td><a href="#">Terreo 1</a></td>
        <td><div id="sparkline-1">Company 1</div></td>
        <td>30</td>
        <td>Mais detalhes</td>
    </tr>
    </table>
    </div>
    </div>
    <div class="box-footer">
    <button class="btn btn-info"><i class="fa fa-download"></i> Generate PDF</button>
    <button class="btn btn-warning"><i class="fa fa-bug"></i> Report Bug</button>
    </div>
    </div>
    </section>
  </div>
   <!-- Fim Modal Salas-->

   <!-- Salas 
  <div class="row row-box">
    <div class="col-sm-3">
      <div class="card">
        <img src="http://espacocerto.net.br/wp-content/uploads/2017/11/Reuni%C3%A3o-1.png" alt="Denim Jeans" style="width:100%">
        <h4>Terreo 1</h4>
        <p class="p-font"><strong>Categoria:Terreo 1</strong></p>
        <p class="p-font"><strong>Localidade: São Paulo</strong></p>
        <p class="p-font"><strong>Filial: Company 1</strong> </p>
        <p class="p-font"><strong>Capacidade: 3</strong></p>
        <p class="p-font"><strong>Equipamentos: Projetor</strong></p>
        <p class="p-font"><button>Editar</button></p>
      </div>
    </div> 
  </div>
  <div class="row">
      <div class="col-sm-12">
        <div class="paginacao">
          <ngb-pagination [collectionSize]="120" [(page)]="page" [maxSize]="2" [boundaryLinks]="true"></ngb-pagination>
        </div>
      </div>
    </div>
</div>-->


<!--Modal reservar-->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title"></h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="form" #formulario="ngForm" (ngSubmit)="confirmarCadastramento()">
      <fieldset>

        <!-- Form Name -->
        <legend><strong>Cadastrar Salas</strong> </legend>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="nome">Nome da Sala </label>
          <div class="col-md-12">
            <input id="txtcodigo_produto_id" name="nome" type="text" placeholder="" class="form-control input-md"
              [(ngModel)]="formulario.nome" />
          </div>
        </div>


        <!-- Select Basic -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="lol">Localidade </label>
          <div class="col-md-12">
            <select id="txtgrupo" name="categoria" class="form-control" [(ngModel)]="formulario.categoria" required>
              <option value="6">São Paulo</option>
            </select>
          </div>
        </div>


        <!-- Select Basic -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="txtgrupo">Filial </label>
          <div class="col-md-12">
            <select id="txtgrupo" name="localidade" class="form-control" [(ngModel)]="formulario.localidade" required>
              <option value="8">Company 2</option>

            </select>
          </div>
        </div>

        <!-- Select Basic -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="txtgrupo" txtgrupo>Categoria </label>
          <div class="col-md-12">
            <select id="txtgrupo" name="filial" class="form-control" [(ngModel)]="formulario.filial" required>
              <option value="1">Entrevista</option>

            </select>
          </div>
        </div>

        <!-- Select Basic-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="txtgrupo" txtgrupo>Capacidade </label>
          <div class="col-md-12">
            <select id="txtgrupo" name="capacidade" class="form-control" [(ngModel)]="formulario.capacidade" required>
              <option value="1">4</option>

            </select>
          </div>
        </div>

        <!-- Select Basic -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="txtgrupo">Equipamentos </label>
          <div class="col-md-12">
            <select id="txtgrupo" name="equipamentos" [(ngModel)]="formulario.equipamentos" class="form-control">
              <option value="1">empty</option>

            </select>
          </div>
        </div>
        <!-- Select Basic -->
        <div class="form-group">
          <label for="col-md-4 exampleInputFile">File input</label>
          <input type="file" class="col-md-12 form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
        </div>
        <div class="btn-flex">
          <button type="submit" id="btnsalvar" name="btnsalvar" class="btn btn-primary btn-sub" [disabled]="formulario.invalid">Salvar</button>
          <button id="btncancelar" name="btncancelar" class="btn btn-danger btn-sub">Cancelar</button>
        </div>
      </fieldset>

    </form>
  </div>
</ng-template>
<hr>