.info-user{
  margin-left: 20px;
  width: 450px;
  height: 300px;
}
.user{
  padding: 20px;
  margin: 20px;
}

.information-user{
  font-size: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
}

// se der merda foi aqui
.tile{
  padding: 0;
}

.textpos{
  text-align: center;
}
