<div class="app-content">
  <div class="row user">
    <div class="col-md-12">
      <div class="profile">
        <div class="info">
          <h4>Digital Inovation</h4>
          <p>Company 2</p>
        </div>
        <div class="cover-image">
          <img src="../../../../assets/imagens/stf-rooms-img.jpg">
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="tile p-0">
        <ul class="nav flex-column nav-tabs user-tabs">
          <li class="nav-item"><a class="nav-link active" href="#user-timeline" data-toggle="tab">Feedbacks</a></li>
          <li class="nav-item"><a class="nav-link" href="#user-settings" data-toggle="tab">Configuração da sala</a></li>
          <li class="nav-item"><a class="nav-link" data-toggle="tab" (click)="onClickMe()" >Excluir sala</a></li>
        </ul>
      </div>
    </div>

    <div class="col-md-9">
      <div class="tab-content">
        <div class="tab-pane active" id="user-timeline">
          <div class="timeline-post">
            <div class="post-media"><a href="#"></a>
              <div class="content">
                <h5><a href="#">Leandro Souza</a></h5>
                <p class="text-muted"><small>2 January at 9:30</small></p>
              </div>
            </div>
            <div class="post-content">
              <p>A sala é incrivel, mas poderiam colocar mais tomadas</p>
            </div>
            <ul class="post-utility">
              <li class="likes"><a href="#"><i class="fa fa-fw fa-lg fa-thumbs-o-up"></i>Like</a></li>
              <li class="shares"><a href="#"><i class="fa fa-fw fa-lg fa-share"></i>Share</a></li>
              <li class="comments"><i class="fa fa-fw fa-lg fa-comment-o"></i> 5 Comments</li>
            </ul>
          </div>

        </div>
        <div class="tab-pane fade" id="user-settings">
          <div class="tile user-settings">
            <h4 class="line-head">Editar Sala</h4>
            <form>

              <div class="row mb-4">
                <div class="col-md-4">
                  <label>Nome</label>
                  <input class="form-control" type="text">
                </div>
              </div>

              <div class="row mb-4">
                <div class="col-md-4">
                  <label>Categoria</label>
                  <input class="form-control" type="text">
                </div>
              </div>

                <div class="row mb-4">
                  <div class="col-md-4">
                    <label>Capacidade</label>
                    <input class="form-control" type="text">
                  </div>
                </div>

                  <div class="row mb-4">
                    <div class="col-md-4">
                      <label>Categoria</label>
                      <input class="form-control" type="text">
                    </div>
                  </div>
              <div class="row mb-10">
                <div class="col-md-12">
                  <button class="btn btn-primary" type="button"><i class="fa fa-fw fa-lg fa-check-circle"></i>Atualizar</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
