
.img-lines{
  position: absolute;

}
.login-content{
  background-color: #fff;
}

.logo-stf{
  width: 100%;
}

.login-content .login-box{
  padding: 25px;
}

.btn-primary,.btn-primary:hover{
  background-color: #682E85;
  border-color: #682E85;
}
