<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="example-container">
  <div class="profile-userpic">
    <img src="https://thumbs.dreamstime.com/b/cara-afro-americano-redonda-do-homem-%C3%ADcone-masculino-perfil-avatar-102767903.jpg" class="img-responsive"
      alt="">
  </div>
  <!-- SIDEBAR USER TITLE -->
  <div class="profile-usertitle">
    <div class="profile-usertitle-name">
      Leandro Souza
    </div>
    <div class="profile-usertitle-job">
      Developer
    </div>
  </div>
  <!-- END SIDEBAR USER TITLE -->
  <!-- SIDEBAR MENU -->
  <div class="profile-usermenu">
    <ul class="nav">
      <li class="active">
        <a routerLink='/home-agendar' href="#">
          <i class="fa fa-address-book" style="font-size:25px"></i> 
          Home </a>
      </li>
      <li>
        <a routerLink='/minhas-reservas' href="#">
          <i class="fa fa-address-book" style="font-size:25px"></i>
          Reservas </a>
      </li>
      <li>
        <a href="#" target="_blank">
          <i class="fa fa-address-book" style="font-size:25px"></i>
          Historico </a>
      </li>
      <li>
        <a routerLink='/cadastro-tela' href="#">
          <i class="fa fa-address-book" style="font-size:25px"></i>
          Administrativo </a>
      </li>
    </ul>
  </div>
</div>