/* You can add global styles to this file, and also import other style files */
body{
  background-color: #fff;
}

.btn, .btn-primary,{
  color: #fff;
  background-color: #682E85 !important;
  border-color: #682E85 !important;
}

.btn-primary:hover, .btn-default:hover{
  background-color: #CAD400 !important;
  border-color: #CAD400  !important;

}

.btn-outline-dark{
  color: #fff !important;
  ;
}
