.form-control{
  margin-left: 0px;
  margin-right: 0px;
  }
  .filter{
  display: flex;
  justify-content: center;

  }

  .filter .form-group{
  padding: 10px;
  display: flex;
  }

  .filter .form-group button{
  margin-left: 10px;

  }
