<mat-toolbar class="topbar">
  <mat-toolbar-row class="flex-menu">
    <div class="logo">
      <a>
        <img src="./assets/img/Stefanini-logo.png" title="Logotipo Stefanini" />
      </a>
    </div>
    <nav class="flex-menu-topbar">
      <ul>
        <li class="style-intens"><a class="a-intens" href="">Política de Reservas</a>
        </li>
      </ul>
      <ul>
        <li class="style-intens">
          <button class="btn-stf" data-toggle="dropdown" >Digital Room</button>
        </li>
      </ul>
      <ul>
        <li  class="style-intens"><a class="a-intens" href="">leandro</a>
        </li>
      </ul>
      <ul>
        <li  class="style-intens-last"><a class="a-intens" href="">Sair</a>
        </li>
      </ul>
    </nav>
  </mat-toolbar-row>
</mat-toolbar>