.topbar{
    background-color: #f4f4f4;
}

.flex-menu{
    display: flex;
    justify-content: space-between;
}
.example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }

  .flex-menu-topbar{
      display: flex;
      justify-content: flex-end;
      margin-top: 20px;
  }

  .flex-menu-topbar ul {
      list-style: none;
  }

  .style-intens{
    border-right:1px solid #d8d8d8;
    height: 69px;
    display: flex;
    align-items: center;
  }
  .style-intens-last{
    height: 78px;
    display: flex;
  
  }
  .a-intens{
      padding: 20px;
      margin-left: -30px;
      color: black;
  }

  /* btn personalizado */
  .btn-stf{
    font-family: Rubik;

    font-size: 18px;
    
    font-weight: 500;
    
    font-style: normal;
    
    font-stretch: normal;
    
    line-height: 1.43;
    
    letter-spacing: normal;
    
    color: #323232;
    
    width: 179px;
    
    height: 47px;
    
    border-radius: 2px;
    
    background-color: #fcfcfc;
    
    border: solid 1px #ccc;
    
    align-items: center;

    margin-right: 31px;
  }

    /* responsive */

    @media (max-width: 800px) { 
        .flex-menu-topbar{
            display: none;
        }
     }
  
  